In [1]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

In [2]:
names = pd.read_csv("../data/NationalNames.csv")

In [3]:
names.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [4]:
names["Name"] = names["Name"].apply(str.lower)

In [5]:
names.head()

   Id       Name  Year Gender  Count
0   1       mary  1880      F   7065
1   2       anna  1880      F   2604
2   3       emma  1880      F   2003
3   4  elizabeth  1880      F   1939
4   5     minnie  1880      F   1746

In [6]:
names.columns

Index(['Id', 'Name', 'Year', 'Gender', 'Count'], dtype='object')

In [7]:
names = names[['Name', 'Gender']]

In [8]:
names.head()

        Name Gender
0       mary      F
1       anna      F
2       emma      F
3  elizabeth      F
4     minnie      F

In [9]:
data = names.values

In [10]:
selection = np.random.randint(0, len(data), 10000)

In [11]:
selection

array([ 959610,  544504, 1686329, ...,  460604,  578026,  746830])

In [12]:
X = data[selection, 0]
y = data[selection, 1]

In [13]:
X[:5]

array(['darric', 'tanyia', 'corwyn', 'guliana', 'roselyne'], dtype=object)

In [14]:
def to_freq(name):
    
    freq = [0]*26
    
    for ch in name:
        freq[ord(ch) - ord('a')] += 1
        
    return freq

In [15]:
Xmod = np.array([to_freq(name) for name in X])

In [16]:
Xmod[:5]

array([[1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
        0, 0, 0, 0],
       [2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
        1, 0, 1, 0],
       [2, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0],
       [0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
        0, 0, 1, 0]])

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(
...     Xmod, y, test_size=0.33, random_state=42)

In [19]:
from sklearn.naive_bayes import BernoulliNB

In [20]:
model = BernoulliNB()

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.6509090909090909

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [60]:
vectorizer = CountVectorizer(tokenizer=list, ngram_range=(2, 3), max_features=500, lowercase=True)

In [61]:
vectorizer.fit(X)

/Users/ganga/opt/anaconda3/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:489: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

CountVectorizer(max_features=500, ngram_range=(2, 3), tokenizer=<class 'list'>)

In [62]:
# vectorizer.vocabulary_

In [63]:
Xgen = vectorizer.transform(X)

In [64]:
Xout = Xgen.todense()

In [65]:
X_train, X_test, y_train, y_test = train_test_split(
...     Xout, y, test_size=0.33, random_state=42)

In [66]:
model = BernoulliNB()

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.7084848484848485

In [83]:
name = "Suraj"

Xin = vectorizer.transform([name])

model.predict(Xin.todense())

In [85]:
from sklearn.linear_model import LogisticRegression

In [86]:
model = LogisticRegression()

In [87]:
model.fit(X_train, y_train)

LogisticRegression()

In [94]:
model.score(X_train, y_train)

0.8062686567164179

In [88]:
model.score(X_test, y_test)

0.7766666666666666

In [96]:
name = "Anuj"

Xin = vectorizer.transform([name])

model.predict(Xin.todense())

array(['M'], dtype=object)

In [95]:
(y == "F").mean()

0.5959